/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local('Raleway Light'), local('Raleway-Light'), url(http://fonts.gstatic.com/s/raleway/v9/-_Ctzj9b56b8RgXW8FAriQzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), url(http://fonts.gstatic.com/s/raleway/v9/QAUlVt1jXOgQavlW5wEfxQLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway Bold'), local('Raleway-Bold'), url(http://fonts.gstatic.com/s/raleway/v9/JbtMzqLaYbbbCL9X6EvaIwzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'), url(http://fonts.gstatic.com/s/raleway/v9/1ImRNPx4870-D9a1EBUdPAzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}


.main {
  width: 496px;
  height: 350px;
  margin-left: -253px;
  margin-top: -175px;
  position: absolute;
  top: 50%;
  left: 50%;
  border: 2px solid black;
  font-family: 'Raleway';
  font-size: 16px;
  text-align: center; 
}


.title {
  color: black;
  background-color: rgba(255, 255, 255, .7);
  font-size: 20px;
  padding: 10px;
}
  
 .info {
   background-color: rgba(0, 0, 0, .7);
   color: white;
   padding: 15px 30px 10px 30px;
}

p, h2, h3 {
  margin: 0;
}

.title h3 {
  font-size:1.9em;
  font-weight: 300;
  letter-spacing: .1em;
}

.title h2 {
  font-weight: bolder;
  font-size: 2.9em;
  line-height: .9em;
  letter-spacing: .1em;
}


a:visited, a:link{
  color: #ADD8E6;
  
}

