/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local('Raleway Light'), local('Raleway-Light'), url(http://fonts.gstatic.com/s/raleway/v9/-_Ctzj9b56b8RgXW8FAriQzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), url(http://fonts.gstatic.com/s/raleway/v9/QAUlVt1jXOgQavlW5wEfxQLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway Bold'), local('Raleway-Bold'), url(http://fonts.gstatic.com/s/raleway/v9/JbtMzqLaYbbbCL9X6EvaIwzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'), url(http://fonts.gstatic.com/s/raleway/v9/1ImRNPx4870-D9a1EBUdPAzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;;
}

p, h2, h3 {
  margin: 0;
}

.container{
  position:fixed !important;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  width: 100%;
  height: 100%;
  background-image: url("images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;
  overflow:scroll;
}

.main {
  max-width: 496px;
  margin:auto;
  border: 2px solid black;
  font-family: 'Raleway';
  font-size: 16px;
  text-align: center; 
}

.title {
  color: black;
  background-color: rgba(255, 255, 255, .7);
  font-size: 20px;
  padding: 10px;
  padding-bottom: 19px;
}

.title h3 {
  font-size:1.9em;
  font-weight: 300;
  letter-spacing: .1em;
}

.title h2 {
  font-weight: bolder;
  font-size: 2.9em;
  line-height: .9em;
  letter-spacing: .1em;
}

.info {
  background-color: rgba(0, 0, 0, .7);
  color: white;
  padding: 32px 30px 4px 30px;
}

.info p{
  font-weight: 100;
  letter-spacing: .1em;
  line-height: 1.4em;
}

.icons{
  overflow: auto;
  padding-top: 10px;
}

.icons #hfd{
  float:right;
  margin-right: 11px;
  margin-left:11px;
}
.icons #kids{
  float:left;
  margin-left:32px;
}


a:visited, a:link{
  color: #ADD8E6;
  
}

